<html>
    <title>
        <head>
            join
        </head>
    </title>
    <body>
        <form method="post" action="join">
            id:
            <input
                type="text"
                name="id"

            >
            <br/>
            pw:
            <input
                type="password"
                name="pw"

            >
            <br/>
            <input
                type="submit"

            >join
            </input>
        </form>
    </body>
</html>